
#overlay {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0.5;
	z-index:90;
}


#overlay.hidden {
	height:0;
	opacity:0;
	z-index:0;
	-webkit-transition-property:opacity, z-index, height;
	-webkit-transition-duration: 2s, 0, 0;
	-webkit-transition-delay:0, 2s, 2s;
}

#article,
#headline {
	display:block;
	position:absolute;
	background:#FFF1E0;
}

#article.hidden,
#headline.hidden {
	height:0;
	width:0;
	padding:0;
	left:50%;
	top:0;
	margin:0;
	margin-top:50%;
	z-index:0;
	-webkit-transition-property:height, width, margin, padding, left, top, z-index;
	-webkit-transition-duration:2s, 2s, 2s, 2s, 2s, 2s, 0;
	-webkit-transition-delay:0, 0, 0, 0, 0, 0, 2s;
}


#article.show,
#headline.show {
	z-index:100;
	left:0;
	margin:10% 10% 10% 10%;
	width:75%;
	height:75%;
	padding:1% 2.5% 2.5% 2.5%;
	-webkit-transition-property:height, width, margin, padding, left, top, z-index;
	-webkit-transition-duration:2s, 2s, 2s, 2s, 2s, 2s, 0;
	-webkit-transition-delay:0, 0, 0, 0, 0, 0, 2s;
}

#headline.show {
	height:25%;
}

#headline.hidden .close,
#article.hidden .close {
	display:none;
}

#article .close,
#headline .close {
	float:right;
	text-align:right;
	margin-bottom:10px;
	font-size:0.8em;
	font-style:italic;
}

#article .content,
#headline .content {
	height:94%;
	width:99%;
	padding-right:1%;
	overflow:auto;
}

