
@import url(base.css);
@import url(article.css);  

body {
	background:#FFF1E0;
}

h2 {
	text-align: center;
	margin: 0 auto;
	color: #e6d5c0;
	font-size: 3em;
}

#vis {
	clear: all;
	margin-bottom: 20px;
	height: 370px;
	height: 285px;
}

#tiles {
	margin-top:2.5%;
	font-size: 12px;
	clear: both;
}

#tiles th {
	vertical-align: top;
	padding: 3px;
	color: #ccc;
}

th.h7, th.h8, th.h9, th.h10, th.h11, th.h12, th.h13, th.h14, th.h15, th.h16, th.h17, th.h18, th.h19 {
	color: #444 !important;
}  

#tiles tr th {
	padding-top: 12px;
}

#tiles tr:first-child th {
	padding-top: 3px;
}

#tiles td {
	width: 10%;
	height:10%;
	-webkit-perspective: 1000;
}

#tiles .tile {
	/*width: 38px;
	height: 38px;*/
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 1.7s;
}

.face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	height: 98%;
	width: 98%;
	background: #FFF1E0;
	border: 2% solid white;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

#tiles td.sel .face {
	border-color: black;
}

.face.hidden {
	display: none;
}

#tiles td.dim .screen {
	opacity: 0.6;
}

.face.back {
	-webkit-transform: rotateY(180deg);
}

.tile .screen {
	background: white;
	opacity: 0.0;
	width: 36px;
	height: 36px;
	position: absolute;
	z-index: 1337;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid white;
}
